h4{
    text-decoration: none;
    color:#000000;
}
a{
    text-decoration:none;
}
body{
    background-color: #cfcfcf;
}

.content .btn{
    background-color:#333741;
    color:#cfcfcf;
}
.card.shirt4:hover{
    background-image:url('../images/models/model2.jpg');
    transition:all 0.5s ease-out;
}